<div class="container">
  <div class="row">
    <div class="col">
      <app-current-user></app-current-user>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-user-form></app-user-form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-user-table></app-user-table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-groups-form></app-groups-form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-groups-table></app-groups-table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-expense-form></app-expense-form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-expenses-table></app-expenses-table>
    </div>
  </div>
</div>